body{
  background-image: url("../images/intersection.png");
}

.header {
  height: 85px;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-style: solid;
  font-family: 'Georgia', Times, Times New Roman, serif;
  display: inline-block;
  border-bottom: 1px solid black;
}  

.about-me-img{
  float: left;
  vertical-align: top;
  margin: 7px 7px 7px 7px; 
}

.name {
  height: 85px;
  width: 20%;
  background-color: #4aaaa5;
  text-align: center;
  vertical-align: middle;
  line-height: 85px;
  color: white;
  font: bold;
  margin-left: 149px;
  display: inline-block;

}

li.has-next {
  padding: 10px;
  border-right: 1px solid black;
}

li.no-next {
  padding: 10px;
}

.menu{
  display: inline-block;
  height: 85px;
  margin-left: 436px;
  color:#777777;
}

.content{
  width: 960px;
  height: 580px;
  margin-left: 149px;
  margin-top: 100px;
  float: initial;
  
}

.connect{
  width: 253px;
  height: 189px;
  background-color:white;
  float: right;
  text-align: center;
  

}
 .menu-img{
margin-top: 20px;
 }

 .menu-text{
  margin-top: 30px;
  
 }
h3{
  font-family: 'Georgia', Times, Times "New Roman", serif;
  color: #4aaaa5;
  margin-left: 20px;
  font-size: 20px;
}
h2{
  font-family: 'Georgia', Times, Times "New Roman", serif;
  color:#777777;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
  line-height: 40px;
}


hr{
  width: 90%;
  text-align: center;

}
.about-me{
  height: 500px;
  width: 650px;
  background-color: white;
  float: left;
  color:#777777;
}

#form-button {
  background-color: #4aaaa5;
  color: white;
  display: block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  width: 100px;
  text-align: center;
}

.contact-form {
  height: 500px;
  width: 650px;
  background-color: white;
  float: left;
}

name {
  padding: 80px;
  margin: 100px;
  background-color:#4aaaa5;
  color: white;
  font-family: 'Georgia', Times, "Times New Roman", serif;
  font: bold;
  font-size: medium;
  text-align: center;
}

ul.hori {
  list-style-type: none;
  display: flex;
}

menu{
  float: right;
}

.about{
  color: #4aaaa5;
    font-size: 50px;
    margin-left: 32px;
  
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 25px;
  background-color: grey;
  text-align: center;
  color: white;
  font-size: 12px;
  border-top-width: 4px;
  border-style: solid;
  border-color: aqua;   
}

a {
  text-decoration: none;
  font-size: 16px;
}